@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyFont';
  src:
    local('RalewayRg'),
    url('./assets/fonts/Raleway-Regular.ttf') format('truetype');
}

/* @font-face {
  font-family: 'MyFont';
  src:
    local('RalewayTh'),
    url('./assets/fonts/Raleway-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'MyFont';
  src:
    local('RalewayMd'),
    url('./assets/fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MyFont';
  src:
    local('RalewayBd'),
    url('./assets/fonts/Raleway-Bold.ttf') format('truetype');
} */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'MyFont';
}
